In [1]:
import pandas as pd

In [2]:
tickers_sectors = pd.read_csv('tickers_sectors.csv', encoding='windows-1251', sep=';')
tickers_sectors.head()

             Название компании Тикер               Сектор
0              S&P Global Inc.  SPGI  Commercial Services
1          Moody’s Corporation   MCO  Commercial Services
2                 Copart, Inc.  CPRT  Commercial Services
3                Equifax, Inc.   EFX  Commercial Services
4  FleetCor Technologies, Inc.   FLT  Commercial Services

In [5]:
import pandas_datareader.data as web
from tqdm import tqdm

start_date = '2018-01-01'
df = pd.DataFrame(columns=['Ticker', 'Date', 'Close'])
end_date = '2018-06-08'
for tick in tqdm(tickers_sectors['Тикер'].values):
    try:
        panel_data = web.DataReader(tick, 'yahoo', start_date, end_date)
        temp = pd.DataFrame(data={
            'Date':panel_data.index,
            'Close':panel_data['Close'], 
            'Ticker':[tick]*panel_data.shape[0]})
        
        df = pd.concat([df, temp])
        
    except Exception as e:
        print(e)
        print('Ticker', tick, 'failed')
df.head()

  9%|▉         | 46/498 [01:53<16:29,  2.19s/it]

'Date'
Ticker BF.B failed

 16%|█▌        | 78/498 [03:11<14:40,  2.10s/it]

'Date'
Ticker FOX failed

 16%|█▌        | 79/498 [03:13<15:00,  2.15s/it]

'Date'
Ticker FOXA failed

 33%|███▎      | 165/498 [06:59<20:51,  3.76s/it]

'Date'
Ticker BRK.B failed

 44%|████▍     | 221/498 [09:21<09:26,  2.05s/it]

'Date'
Ticker DRE failed

 45%|████▍     | 224/498 [09:27<09:23,  2.06s/it]

'Date'
Ticker HIG failed

 47%|████▋     | 234/498 [09:50<09:10,  2.08s/it]

'Date'
Ticker SBNY failed

 50%|████▉     | 247/498 [10:22<08:58,  2.15s/it]

No data fetched for symbol HST using YahooDailyReader
Ticker HST failed

 50%|████▉     | 248/498 [10:23<07:28,  1.79s/it]

No data fetched for symbol CMA using YahooDailyReader
Ticker CMA failed

 51%|█████     | 254/498 [10:40<09:07,  2.24s/it]

No data fetched for symbol AIZ using YahooDailyReader
Ticker AIZ failed

 57%|█████▋    | 282/498 [11:49<08:24,  2.34s/it]

'Date'
Ticker MRNA failed

 63%|██████▎   | 313/498 [12:59<06:25,  2.09s/it]

'Date'
Ticker OGN failed

 67%|██████▋   | 333/498 [13:48<06:16,  2.28s/it]

'Date'
Ticker DOW failed

 68%|██████▊   | 337/498 [13:58<06:25,  2.39s/it]

'Date'
Ticker CTVA failed

 73%|███████▎  | 363/498 [15:04<05:29,  2.44s/it]

'Date'
Ticker CARR failed

 74%|███████▎  | 367/498 [15:13<05:01,  2.30s/it]

'Date'
Ticker OTIS failed

100%|██████████| 498/498 [20:26<00:00,  2.46s/it]

           Ticker       Date       Close
2018-01-02   SPGI 2018-01-02  168.119995
2018-01-03   SPGI 2018-01-03  170.820007
2018-01-04   SPGI 2018-01-04  173.380005
2018-01-05   SPGI 2018-01-05  175.699997
2018-01-08   SPGI 2018-01-08  177.179993